[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=true
indent_style=space
indent_size=4

[{.babelrc,.prettierrc,.stylelintrc,.eslintrc,jest.config,*.json}]
indent_style=space
indent_size=2

[{tsconfig.app.json,tsconfig.spec.json,tsconfig.json}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

