{
    "extension": [".ts"],
    "temp-dir": "coverage/.nyc_output",
    "report-dir": "coverage",
    "exclude": [
        "**/node_modules/**",
        "**/test/**",
        "**/lib/**",
        "**/coverage/**",
        "**/*.d.ts"
    ],
    "reporter": ["html", "text-summary"],
    "statements": 80,
    "lines": 80,
    "functions": 80,
    "branches": 80,
    "all": true
}
