{
  "semi": true,
  "tabWidth": 4,
  "singleQuote": false,
  "printWidth": 80,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "parser": "typescript"
}
